#form-group-names-container {
    display: flex;
    gap: 10px;
}

#form-group-names-container input {
    width: 100%;
}

#form-group-names-container label {
    margin-bottom: 5px;
}

#form-tigr-contact button {
    margin-top: 10px;
    width: 100%;
}