#form-group-names-container {
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

#form-group-names-container div {
    flex: 1;
}

input {
    border-radius: 2px;
}

#form-group-names-container label {
    margin-bottom: 5px;
}

#form-tigr-contact button {
    margin-top: 30px;
    width: 100%;
    color: white;
    background-color: #066aab;
    border: none;
    padding: 10px;
    border-radius: 2px;
}

#form-tigr-contact button:hover {
    background-color: #03c4eb;
}

#form-tigr-contact button:active {
    background-color: #03c4eb;
}

#form-tigr-contact button:focus {
    outline: solid 2px #03c4eb;
}

label {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
}

label.required {
    color: #303030;
}

label.required:after {
    content: " *";
    color: red;
}

.form-message {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}